link(rel="stylesheet", href="/public/css/main.css")
link(rel="stylesheet", href="/public/lib/leaflet/dist/leaflet.css")
script(src="/public/lib/jquery/dist/jquery.js")
script(src="/public/lib/jquery-ui/jquery-ui.min.js")
script(src="/public/lib/react/react-with-addons.js")
script(src="http://maps.googleapis.com/maps/api/js?sensor=false")
script(src="/public/lib/leaflet/dist/leaflet.js")
script(src="/public/js/modules/MainMap.js")
script(src="/public/js/modules/Search.js")
script(src="/public/js/app.js")