link(rel="stylesheet", href="/public/css/main.css")
link(rel="stylesheet", href="/public/lib/leaflet/dist/leaflet.css")
link(rel="stylesheet" href="/public/lib/jquery-ui/themes/smoothness/jquery-ui.min.css")
link(rel="stylesheet",type="text/css",href="/public/lib/slick-carousel/slick/slick.css")
link(rel="stylesheet",type="text/css",href="/public/lib/slick-carousel/slick/slick-theme.css")
script(src="/public/lib/jquery/dist/jquery.js")
script(src="/public/lib/jquery-ui/jquery-ui.min.js")
script(src="http://maps.googleapis.com/maps/api/js?sensor=false")
script(src="/public/lib/socket.io-client/socket.io.js")
script(src="/public/lib/react/react-with-addons.js")
script(src="/public/lib/leaflet/dist/leaflet.js")
script(src="/public/js/modules/MainMap.js")
script(src="/public/js/modules/Search.js")
script(src="/public/js/head.js")
script(src="/public/js/app.js")