extends layout

block content
  div.masthead
    leaflet#navmap(width=50, height=50)
    div.title BNIA Green Initiative
    div.search 
      div.search-title Search:
      div(style='float:right;') 
        div#search
  div.mapcontain
    div#mainmap
    div.info.propinfo#propinfo
      div
    div.info.propdetails#propdetails
      div.sitetypesel
        a.sel.icon.cmos(title="Community Managed Open Space")
        a.sel.icon.stormwater(title="Stormwater Management")
        a.sel.inactive.icon.cleangreen(title="Clean & Green")
        a.sel.inactive.icon.mixedgreen(title="Mixed Greens")
        a.sel.inactive.icon.hoodpark(title="Neighborhood Park")
        a.sel.inactive.icon.greenparking(title="Green Parking")
        a.sel.inactive.icon.urbanag(title="Urban Agriculture")
        a.sel.inactive.icon.urbanforest(title="Urban Forrest")
      div.location
        div.blocklot
        div.address
      div.pano#pano
      div.owner
      div.viol
      div.legal
    div.info.hoodinfo#hoodinfo
      div.owners
      div.types
      div.states
    div.info.placeholder#hoodinfo_placeholder
    div#owners
  span.loading.fa-gear.fa-spin Loading