extends layout

block content
  div.masthead
    leaflet#navmap(width=50, height=50)
    div.title Baltimore Green Registry
  div.mapcontain
    div#mainmap
    div.info.propinfo#propinfo
      div
    div.info.propdetails#propdetails
      div.search
        div.search-title Search:
        div#search
      div.sitetypesel
        a.sel.icon.cmos(title="Community Managed Open Space")
        a.sel.icon.stormwater(title="Stormwater Management")
        a.sel.inactive.icon.cleangreen(title="Clean & Green")
        a.sel.inactive.icon.mixedgreen(title="Mixed Greens")
        a.sel.inactive.icon.hoodpark(title="Neighborhood Park")
        a.sel.inactive.icon.greenparking(title="Green Parking")
        a.sel.inactive.icon.urbanag(title="Urban Agriculture")
        a.sel.inactive.icon.urbanforest(title="Urban Forrest")
      div.location
        div.blocklot
        div.address
      div.pano#pano
      div.owner
      div.viol
      div.legal
    div#footer

    div#owners
  span.loading.fa-gear.fa-spin Loading