doctype html
html(lang="en")
  head
    title BNIA Green Initiative Map
    include header
  body(ng-app="bniagreeninitiative")
    block content
    script(src="/public/lib/slick/slick.min.js")
  script(src="/public/js/foot.js")